:root {
    --primary-color: #212121;
    --main-blue: #2196f3;
    --button-color: #f5f4fa;
    --main-black: #000000;
    --main-white: #ffffff;
    --main-grey: #757575;
    --bg-dark: #2f303a;
    --white-grey: #ffffff99;
    --header-gray: #ececec;
    --card-border: #eeeeee;
}

/*reset*/
.header,
.footer,
.section,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

* {
    padding: 0;
}

/**/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    list-style-type: none;
}

.active:visited,
.contact:visited,
.active,
.contact {
    text-decoration: none;
    color: inherit;
}

.active:link,
.contact:link {
    text-decoration: none;
}

.active:hover,
.active:focus {
    color: var(--main-blue);
}

.list-no-marker {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.section-our-strengths {
    padding-bottom: 0px;
}

/*flexbox*/
.flexbox {
    display: flex;
}

.portfolio,
.flexbox-column {
    flex-direction: column;
    align-items: center;
}

.portfolio-projects {
    flex-wrap: wrap;
}

.portfolio-projects-items {
    margin: 0px 30px 30px 0;
    display: flex;
    flex-direction: column;
}

.portfolio-projects-items:nth-of-type(3n) {
    margin-right: 0px;
}

.flexbox-header {
    justify-content: space-between;
    align-items: center;
}

.nav-menu-header {
    gap: 0 46px;
    padding: 0;
}

.flexbox-header-contact {
    gap: 0 50px;
}

.nav-portfolio {
    display: flex;
    margin: 0 0 34px 0;
}

/*Buttons*/
.button {
    cursor: pointer;
    font-family: inherit;
    background: var(--button-color);
    text-align: center;
    font-size: 16px;
}

.button:hover {
    color: var(--main-white);
    background-color: var(--main-blue);
}

.button-main {
    font-weight: 700;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
}

.button-portfolio {
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    margin: 8px;
    border: none;
    border-radius: 4px;
}

.button-portfolio-first {
    margin-left: 0px;
}
.button-portfolio-last {
    margin-right: 0px;
}

/* logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {
    color: var(--main-black);
}

.logo-footer {
    color: var(--main-white);
}

.logo-blue {
    color: var(--main-blue);
}

/*header*/
.header {
    border-bottom: solid var(--header-gray);
    padding-top: 24px;
    padding-bottom: 25px;
}

.nav-menu-header,
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.nav-menu-header {
    color: var(--primary-color);
}

.contact {
    color: var(--main-grey);
}

.logo-header {
    margin-right: 93px;
}
/*backgrouns*/
.bg-dark {
    background-color: var(--bg-dark);
}

.bg-grey {
    background-color: var(--button-color);
}

/*footer*/
.footer {
    padding: 60px 0;
}

.footer-address {
    font-size: 14px;
    line-height: 146%;
}

.footer-address-main {
    color: var(--main-white);
}

.footer-address-secondary {
    color: var(--white-grey);
}

.logo-footer {
    margin-bottom: 20px;
}

.footer-address-secondary {
    margin-top: 9px;
}

/*Index main*/

.hero-section {
    padding: 200px 0;
}
.section-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.header-main {
    color: var(--main-white);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
}

.section-our-strengths {
    font-size: 14px;
}

.section-our-strengths ul {
    gap: 0 30px;
}

.section-our-strengths-items {
    max-width: 270px;
}

.section-our-strengths-header {
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
}

.section-our-strengths-content {
    color: var(--main-grey);
    line-height: 1.71;
}

.section-what-we-do-header,
.section-our-team-header {
    margin-bottom: 50px;
}
.section-what-we-do-items {
    margin: 0 30px 0 0;
}
.section-our-team {
    padding: 0;
}
.section-our-team-items {
    margin: 0 30px 0 0;
}

.card {
    font-size: 16px;
    line-height: 1.19;
    display: inline-block;
    background-color: var(--main-white);
    border-radius: 0px 0px 4px 4px;
}

.card-description {
    margin: 30px auto;
}

.card-header {
    font-weight: 500;
    margin-bottom: 10px;
}

.card-content {
    color: var(--main-grey);
}

/*portfolio*/
.card-portfolio-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.card-portfolio-content {
    font-size: 16px;
    line-height: 1.88;
}

.card-portfolio-description {
    padding: 20px 24px;
    border-color: var(--card-border);
    border-style: none solid solid;
    border-width: 1px;
}

.nav-portfolio {
    margin: 0;
    padding: 0;
}

.nav-portfolio-box {
    margin-bottom: 50px;
}

/*other*/
.item-last {
    margin-right: 0;
}
